.watermark {
    display: flex !important;
    align-items: center;
}

.watermark .text-xs {
    display: flex;
}

.watermark .text-xs span {
    font-size: 0;
    line-height: 0;
    visibility: hidden !important;
}

.watermark .text-xs span::after {
    content: "Disclaimer: Please be aware that this AI is still in pilot and its output may not always be accurate or complete. It is highly recommended to exercise user discretion when interpreting and utilizing the information provided. For concerns, you may reach HWD through email: hwd_healthcareplan@bsp.gov.ph";
    font-size: 12px;
    line-height: normal;
    visibility: visible !important;
    display: block;
}

.watermark svg {
    display: none !important;
}

/* Simple rule to rename the Readme button to Feedback */
button#readme-button span {
    font-size: 0 !important;
}

button#readme-button span::before {
    content: "Feedback" !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

/* Target by hierarchy and text content */
h2.text-lg.font-semibold.leading-none.tracking-tight:not([id^="radix-"]),
div:has(> h2.text-lg.font-semibold.leading-none.tracking-tight:not([id^="radix-"])) {
    display: none !important;
}

a[href*='https://chainlit.io'] { 
    visibility: visible !important;
    pointer-events: none;
}

/* Hide chat settings button */
#chat-settings-open-modal {
    display: none !important;
}

/* Hide profile/user navigation button */
#user-nav-button {
    display: none !important;
}